

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
:root {
    --white: #ffffff;
    --pink: #e83e8c;
    --info: #17a2b8;
}
.bg-pink {
    background-color: var(--pink);
}
.text-info {
    color: var(--white);
}
.bg-info {
    background-color: var(--info);
}